:root {
  --darkPurple: #241734;
}

@font-face {
  font-family: "Neon Font";
  src: url("../fonts/neon.ttf");
}

@font-face {
  font-family: "Archivo Black";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Archivo_Black.ttf");
}

@font-face {
  font-family: "Neon Title";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/neon2.ttf");
}

.content_nav {
  z-index: 100;
  padding: 20px;
  position: relative;
  background-color: var(--darkPurple);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.navigation_element {
  margin: 0 20px;
}

.popular_movies {
  padding: 60px;
  flex-direction: column;
  background-color: var(--darkPurple);
}

.popular_movies_text {
  display: flex;
  margin-bottom: 60px;
  align-items: center;
  justify-content: flex-start;
}

.neon,
.flux {
  font-family: "Neon Font", sans-serif;
}

.neon {
  font-size: 60px;
  color: #fb4264;
  text-shadow: 0 0 20px #f40a35;
  animation: neon 2s ease infinite;
}

.flux {
  font-size: 50px;
  color: #426dfb;
  margin: 0 0 0 20px;
  text-decoration: underline;
  text-shadow: 0 0 20px #2356ff;
  animation: flux 2s linear infinite;
}

@media screen and (max-width: 800px) {
  .popular_movies_text {
    flex-direction: column;
  }
  .popular_movies_text,
  .popular_movies {
    justify-content: center;
  }
  .flux {
    margin: 0;
  }
}

@keyframes neon {
  50% {
    text-shadow: 0 0 2.5px #800e0b, 0 0 7.5px #800e0b, 0 0 2.5px #800e0b,
      0 0 2.5px #800e0b, 0 0 1px #800e0b, 2.5px 2.5px 0.5px #40340a;
    color: #806914;
  }
  0%,
  100% {
    text-shadow: 0 0 5px #fa1c16, 0 0 15px #fa1c16, 0 0 50px #fa1c16,
      0 0 50px #fa1c16, 0 0 2px #fed128, 2.5px 2.5px 0.5px #806914;
    color: #fed128;
  }
}

@keyframes flux {
  50% {
    text-shadow: 0 0 2.5px #082180, 0 0 7.5px #082180, 0 0 2.5px #082180,
      0 0 2.5px #082180, 0 0 1px #082180, 2.5px 2.5px 0.5px #0a3940;
    color: #146c80;
  }
  0%,
  100% {
    text-shadow: 0 0 5px #1041ff, 0 0 15px #1041ff, 0 0 50px #1041ff,
      0 0 50px #1041ff, 0 0 2px #8bfdfe, 2.5px 2.5px 0.5px #147280;
    color: #28d7fe;
  }
}

.glitch_text {
  font-family: "Archivo Black", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  position: relative;
  text-shadow: 2px 2px 2px black;
}

.glitch_text::before,
.glitch_text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--darkPurple);
}

.glitch_text::after {
  left: -2px;
  text-shadow: -2px 0 #b300fc;
  clip: rect(85px, 550px, 140px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(13px, 9999px, 149px, 0);
  }
  4.166666666666666% {
    clip: rect(35px, 9999px, 56px, 0);
  }
  8.333333333333332% {
    clip: rect(8px, 9999px, 113px, 0);
  }
  12.5% {
    clip: rect(6px, 9999px, 104px, 0);
  }
  16.666666666666664% {
    clip: rect(54px, 9999px, 144px, 0);
  }
  20.833333333333336% {
    clip: rect(120px, 9999px, 135px, 0);
  }
  25% {
    clip: rect(24px, 9999px, 142px, 0);
  }
  29.166666666666668% {
    clip: rect(96px, 9999px, 57px, 0);
  }
  33.33333333333333% {
    clip: rect(71px, 9999px, 55px, 0);
  }
  37.5% {
    clip: rect(150px, 9999px, 85px, 0);
  }
  41.66666666666667% {
    clip: rect(119px, 9999px, 3px, 0);
  }
  45.83333333333333% {
    clip: rect(11px, 9999px, 48px, 0);
  }
  50% {
    clip: rect(65px, 9999px, 92px, 0);
  }
  54.166666666666664% {
    clip: rect(85px, 9999px, 25px, 0);
  }
  58.333333333333336% {
    clip: rect(49px, 9999px, 11px, 0);
  }
  62.5% {
    clip: rect(144px, 9999px, 63px, 0);
  }
  66.66666666666666% {
    clip: rect(67px, 9999px, 79px, 0);
  }
  70.83333333333334% {
    clip: rect(87px, 9999px, 146px, 0);
  }
  75% {
    clip: rect(133px, 9999px, 141px, 0);
  }
  79.16666666666666% {
    clip: rect(93px, 9999px, 149px, 0);
  }
  83.33333333333334% {
    clip: rect(53px, 9999px, 66px, 0);
  }
  87.5% {
    clip: rect(84px, 9999px, 2px, 0);
  }
  91.66666666666666% {
    clip: rect(35px, 9999px, 95px, 0);
  }
  95.83333333333334% {
    clip: rect(39px, 9999px, 90px, 0);
  }
  100% {
    clip: rect(46px, 9999px, 53px, 0);
  }
}

.cool_btn {
  color: black;
  font-size: 25px;
  font-weight: 700;
  padding: 5px 30px;
  background: white;
  border: 3px solid black;
  font-family: "Raleway", sans-serif;
}

.cool_btn:hover {
  color: white;
  text-decoration: none;
  background-image: linear-gradient(90deg, #ff0090 0%, #e87400 100%);
}

/*==========================================
  INCIO: Catálogo películas canva
===========================================*/
.canva_container {
  width: 100%;
  height: 400px;
  position: relative;
  background-color: var(--darkPurple);
}

.canva_text {
  z-index: 20;
  font-size: 60px;
  color: #fed128;
  position: absolute;
  letter-spacing: 30px;
  text-transform: uppercase;
  font-family: "Neon Title", sans-serif;
  text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16,
    0 0 10vw #fa1c16, 0 0 0.4vw #fed128, 0.5vw 0.5vw 0.1vw #806914;
}

@media screen and (max-width: 800px) {
  .canva_text {
    font-size: 45px;
    letter-spacing: 15px;
  }
}

.main_container {
  width: 100%;
}

.cielo {
  width: 100%;
  height: 160px;
  position: absolute;
  background: linear-gradient(#111, #3f00ff, #ff00dc);
}

.sol {
  top: 30%;
  width: 240px;
  height: 240px;
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 118px);
  box-shadow: 2px 2px 36px #ff00dc;
  background: linear-gradient(#ff0090, #ffaa00, #ff0090);
}

.suelo {
  z-index: 2;
  top: 160px;
  width: 100%;
  height: 240px;
  position: absolute;
  background: linear-gradient(#001121, #002b51);
}

.carro-chasis {
  width: 180px;
  bottom: 20px;
  height: 120px;
  position: absolute;
  left: calc(50% - 90px);
}

.carro-luces {
  top: 30px;
  z-index: 5;
  width: 180px;
  height: 28px;
  border-radius: 4px;
  position: absolute;
  border: 1px solid #0074b2;
  background-color: #00173d;
}

.luces-traseras {
  top: 4px;
  left: 4px;
  width: 172px;
  height: 2px;
  position: absolute;
  animation-duration: 0.75s;
  background-color: #dd002c;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: rear-lights-flashing;
}

.luces-traseras:nth-of-type(2) {
  top: 8px;
}

.luces-traseras:nth-of-type(3) {
  top: 12px;
}

.luces-traseras:nth-of-type(4) {
  top: 16px;
}

.luces-traseras:nth-of-type(5) {
  top: 20px;
}

.cajuela {
  top: 24px;
  z-index: 3;
  height: 6px;
  width: 180px;
  position: absolute;
  background-color: #00173d;
  clip-path: polygon(8% 0, 92% 0, 99% 100%, 1% 100%);
  border: 1px solid #0074b2;
}

.techo {
  position: absolute;
  top: 5px;
  width: 180px;
  height: 14px;
  background-color: #00173d;
  border: 2px solid #00417a;
  clip-path: polygon(32% 0, 68% 0, 90% 100%, 8% 100%);
  background: linear-gradient(#e87400, #ff0090, #0074b2);
  z-index: 3;
}

.llanta-izquierda {
  position: absolute;
  height: 26px;
  width: 24px;
  border-radius: 3px;
  border: 0.5px solid #333;
  background-color: #111;
  top: 52px;
  left: 10px;
  z-index: 1;
}

.llanta-derecha {
  position: absolute;
  height: 26px;
  width: 24px;
  border-radius: 3px;
  border: 0.5px solid #333;
  background-color: #111;
  top: 52px;
  left: 146px;
  z-index: 1;
}
.carro-sombra {
  top: 64px;
  left: -23px;
  height: 80px;
  width: 230px;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  clip-path: polygon(14% 0, 86% 0, 100% 100%, 0 100%);
}

.carretera-horizontal {
  top: 2px;
  width: 100%;
  height: 2px;
  z-index: -1;
  position: absolute;
  background-color: #0070c6;
}
.carretera-horizontal:nth-of-type(2) {
  top: 8px;
  animation-name: move-line-2;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.carretera-horizontal:nth-of-type(3) {
  top: 18px;
  animation-name: move-line-3;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.carretera-horizontal:nth-of-type(4) {
  top: 34px;
  animation-name: move-line-4;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.carretera-horizontal:nth-of-type(5) {
  top: 60px;
  animation-name: move-line-5;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.carretera-horizontal:nth-of-type(6) {
  top: 100px;
  animation-name: move-line-6;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.carretera-horizontal:nth-of-type(7) {
  top: 150px;
  animation-name: move-line-7;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.carretera-horizontal:nth-of-type(8) {
  top: 208px;
  animation-name: move-line-8;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.baldio-izquierdo {
  width: 50%;
  z-index: 4;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  clip-path: polygon(0 0, 101% 0, 0 100%, 0 100%);
}

.baldio-derecho {
  right: 0;
  z-index: 4;
  width: 50%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
}

@keyframes move-line-2 {
  0% {
    top: 8px;
  }
  100% {
    top: 17px;
  }
}

@keyframes move-line-3 {
  0% {
    top: 18px;
  }
  100% {
    top: 33px;
  }
}

@keyframes move-line-4 {
  0% {
    top: 34px;
  }
  100% {
    top: 59px;
  }
}

@keyframes move-line-5 {
  0% {
    top: 60px;
  }
  100% {
    top: 99px;
  }
}

@keyframes move-line-6 {
  0% {
    top: 100px;
  }
  100% {
    top: 149px;
  }
}

@keyframes move-line-7 {
  0% {
    top: 150px;
  }
  100% {
    top: 207px;
  }
}

@keyframes move-line-8 {
  0% {
    top: 208px;
  }
  100% {
    top: 240px;
  }
}

@keyframes rear-lights-flashing {
  0% {
    background-color: #b20023;
  }
  40% {
    background-color: #b20023;
  }
  45% {
    background-color: #ff0032;
  }
  50% {
    background-color: #b20023;
  }
  70% {
    background-color: #b20023;
  }
  75% {
    background-color: #ff0032;
  }
  80% {
    background-color: #b20023;
  }
  85% {
    background-color: #ff0032;
  }
  90% {
    background-color: #b20023;
  }
  100% {
    background-color: #b20023;
  }
}

.pagination {
  display: inline-block;
  margin-top: 3%;
  margin-bottom: 5%;
  background-color: #241734;
  -webkit-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.8);
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.pagination a {
  color: white;
  float: left;
  padding: 12px 20px;
  text-decoration: none;
  transition: 300ms;
}

.pagination a.active {
  background-color: #e87400;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

/* MOVIE */
.movie_info_container,
.video_container {
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.4);
}

.movie_info_container {
  padding: 30px;
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: calc(1000px - 60px);
}

.movie_poster img {
  margin: 0;
  padding: 0;
  width: 180px;
  height: 260px;
  border-radius: 6px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.6);
}

.movie_poster:hover img {
  transform: scale(1.08);
}

.movie_title {
  letter-spacing: 2px;
  text-align: left;
}

.movie_details {
  text-align: left;
  list-style: none;
  margin: 0px;
  padding: 0px;
  line-height: 25px;
}

.movie_details span {
  color: #e87400;
  text-decoration: none;
}

.movie_sinopsis {
  line-height: 25px;
}

.video_container {
  width: 1000px;
  margin-top: 60px;
}

.plyr {
  border-radius: 6px;
}

@media screen and (max-width: 850px) {
  .movie_sinopsis {
    margin-top: 20px;
    font-size: 16px;
    line-height: 22px;
  }
  .movie_poster img {
    width: 140px;
    height: 200px;
  }
  .movie_info_container {
    flex-direction: column;
  }
  h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 1000px) {
  .video_container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .movie_details {
    font-size: 16px;
    line-height: 22px;
  }
}
