:root {
  --darkPurple: #241734;
}

@font-face {
  font-family: "Neon Font";
  src: url("../fonts/neon.ttf");
}

@font-face {
  font-family: "Archivo Black";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Archivo_Black.ttf");
}

@font-face {
  font-family: "Neon Title";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/neon2.ttf");
}

.content_nav {
  z-index: 100;
  padding: 20px;
  position: relative;
  background-color: var(--darkPurple);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.navigation_element {
  margin: 0 20px;
}

.popular_movies {
  padding: 60px;
  background-color: var(--darkPurple);
}

.popular_movies_text {
  height: 60px;
  margin-bottom: 40px;
}

.neon,
.flux {
  font-family: "Neon Font", sans-serif;
}

.neon {
  font-size: 60px;
  color: #fb4264;
  text-shadow: 0 0 20px #f40a35;
  animation: neon 2s ease infinite;
}

.flux {
  font-size: 50px;
  color: #426dfb;
  padding-top: 9px;
  margin: 0 0 0 20px;
  text-decoration: underline;
  text-shadow: 0 0 20px #2356ff;
  animation: flux 2s linear infinite;
}

@media screen and (max-width: 780px) {
  .popular_movies_text {
    height: 110px;
    margin-bottom: 60px;
    flex-direction: column;
  }

  .popular_movies_text,
  .popular_movies {
    justify-content: center;
  }

  .flux {
    margin: 0;
  }
}

@keyframes neon {
  50% {
    text-shadow: 0 0 2.5px #800e0b, 0 0 7.5px #800e0b, 0 0 2.5px #800e0b,
      0 0 2.5px #800e0b, 0 0 1px #800e0b, 2.5px 2.5px 0.5px #40340a;
    color: #806914;
  }
  0%,
  100% {
    text-shadow: 0 0 5px #fa1c16, 0 0 15px #fa1c16, 0 0 50px #fa1c16,
      0 0 50px #fa1c16, 0 0 2px #fed128, 2.5px 2.5px 0.5px #806914;
    color: #fed128;
  }
}

@keyframes flux {
  50% {
    text-shadow: 0 0 2.5px #082180, 0 0 7.5px #082180, 0 0 2.5px #082180,
      0 0 2.5px #082180, 0 0 1px #082180, 2.5px 2.5px 0.5px #0a3940;
    color: #146c80;
  }
  0%,
  100% {
    text-shadow: 0 0 5px #1041ff, 0 0 15px #1041ff, 0 0 50px #1041ff,
      0 0 50px #1041ff, 0 0 2px #8bfdfe, 2.5px 2.5px 0.5px #147280;
    color: #28d7fe;
  }
}

.glitch_text {
  font-size: 50px;
  position: relative;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px black;
  font-family: "Archivo Black", sans-serif;
}

@media screen and (max-width: 500px) {
  .glitch_text {
    font-size: 40px;
  }
}

.glitch_text::before,
.glitch_text::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  content: attr(data-text);
  background: var(--darkPurple);
}

.glitch_text::after {
  left: -2px;
  text-shadow: -2px 0 #b300fc;
  clip: rect(85px, 550px, 140px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(13px, 9999px, 149px, 0);
  }
  4.166666666666666% {
    clip: rect(35px, 9999px, 56px, 0);
  }
  8.333333333333332% {
    clip: rect(8px, 9999px, 113px, 0);
  }
  12.5% {
    clip: rect(6px, 9999px, 104px, 0);
  }
  16.666666666666664% {
    clip: rect(54px, 9999px, 144px, 0);
  }
  20.833333333333336% {
    clip: rect(120px, 9999px, 135px, 0);
  }
  25% {
    clip: rect(24px, 9999px, 142px, 0);
  }
  29.166666666666668% {
    clip: rect(96px, 9999px, 57px, 0);
  }
  33.33333333333333% {
    clip: rect(71px, 9999px, 55px, 0);
  }
  37.5% {
    clip: rect(150px, 9999px, 85px, 0);
  }
  41.66666666666667% {
    clip: rect(119px, 9999px, 3px, 0);
  }
  45.83333333333333% {
    clip: rect(11px, 9999px, 48px, 0);
  }
  50% {
    clip: rect(65px, 9999px, 92px, 0);
  }
  54.166666666666664% {
    clip: rect(85px, 9999px, 25px, 0);
  }
  58.333333333333336% {
    clip: rect(49px, 9999px, 11px, 0);
  }
  62.5% {
    clip: rect(144px, 9999px, 63px, 0);
  }
  66.66666666666666% {
    clip: rect(67px, 9999px, 79px, 0);
  }
  70.83333333333334% {
    clip: rect(87px, 9999px, 146px, 0);
  }
  75% {
    clip: rect(133px, 9999px, 141px, 0);
  }
  79.16666666666666% {
    clip: rect(93px, 9999px, 149px, 0);
  }
  83.33333333333334% {
    clip: rect(53px, 9999px, 66px, 0);
  }
  87.5% {
    clip: rect(84px, 9999px, 2px, 0);
  }
  91.66666666666666% {
    clip: rect(35px, 9999px, 95px, 0);
  }
  95.83333333333334% {
    clip: rect(39px, 9999px, 90px, 0);
  }
  100% {
    clip: rect(46px, 9999px, 53px, 0);
  }
}

.cool_btn {
  color: black;
  font-size: 25px;
  font-weight: 700;
  padding: 5px 30px;
  background: white;
  border: 3px solid black;
  font-family: "Raleway", sans-serif;
}

.cool_btn:hover {
  color: white;
  text-shadow: none;
  text-decoration: none;
  background-image: linear-gradient(90deg, #ff0090 0%, #e87400 100%);
}

/* MOVIE */
.movie_info_container,
.video_container {
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.4);
}

.movie_info_container {
  padding: 30px;
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: calc(1000px - 60px);
}

.movie_poster img {
  border: 0;
  width: 180px;
  height: 260px;
  border-radius: 6px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.6);
}

.movie_poster:hover img {
  transform: scale(1.08);
}

.movie_info {
  margin: 0 30px;
  width: 200px;
}

.movie_title {
  text-align: left;
}

.movie_details {
  margin: 0px;
  padding: 0px;
  text-align: left;
  list-style: none;
  line-height: 25px;
}

.movie_details span {
  color: #e87400;
  text-decoration: none;
}

.movie_sinopsis {
  line-height: 25px;
}

.video_container {
  width: 1000px;
  margin-top: 60px;
  padding: 0;
}

.video_container iframe {
  border: none;
  height: 500px;
  border-radius: 6px;
}

@media screen and (max-width: 850px) {
  h1 {
    font-size: 24px;
  }
  .movie_sinopsis {
    margin-top: 20px;
    font-size: 16px;
    line-height: 22px;
  }
  .movie_poster img {
    width: 140px;
    height: 200px;
  }
  .movie_info_container {
    flex-direction: column;
  }
  .movie_info {
    flex: 1;
    width: auto;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 0 30px;
  }
  .video_container iframe {
    height: 350px;
  }
}

@media screen and (max-width: 1060px) {
  .movie_info_container {
    margin: 0 60px;
  }
  .video_container {
    width: calc(100% - 120px);
  }
}

@media screen and (min-width: 501px) and (max-width: 600px) {
  .video_container iframe {
    height: 250px;
  }
}

@media screen and (max-width: 500px) {
  .video_container iframe {
    height: 220px;
  }
}
