:root {
  --darkPurple: #241734;
  --blue: #0066ff;
}

@font-face {
  font-family: "Rhino Sans";
  src: url("../fonts/Rhino_Sans.ttf");
}

* {
  margin: 0;
  padding: 0;
  transition: 250ms;
}

html {
  filter: contrast(110%);
}

body {
  color: white;
  font-size: 18px;
  min-height: 100vh;
  text-align: center;
  font-family: sans-serif;
  background: radial-gradient(
    ellipse farthest-corner at center top,
    #ff00dc 0%,
    var(--darkPurple) 75%
  );
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: var(--darkPurple);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 6px;
}

@media screen and (max-width: 800px) {
  body {
    background: linear-gradient(#ff00dc 0%, var(--darkPurple) 25%);
  }
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-shadow: -2px 0 2px #b300fc;
}

/* ====== */
/* Global */
/* ====== */
.pointer {
  cursor: pointer;
}

.mg_right {
  margin-right: 20px;
}

.mg_left {
  margin-left: 20px;
}

.mg_bottom {
  margin-bottom: 20px;
}

.mg_top {
  margin-top: 20px;
}

.mg_vertical {
  margin: 20px 0;
}

.font14 {
  font-size: 14px;
}

.padding_30px {
  padding: 30px;
}

.without_decoration {
  text-decoration: none;
}

.justify_text {
  text-align: justify;
}

.no_select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.full_width,
.full_size {
  width: 100%;
}

.full_height,
.full_size {
  height: 100%;
}

.max_width_1400 {
  max-width: 1400px;
}

.center_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_row,
.info_row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.flex_column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  position: fixed;
  cursor: pointer;
  background-color: rgba(5, 5, 5, 0.5);
}

.desactive_overlay {
  display: none;
}

/* ========== */
/* Navigation */
/* ========== */
.glitch_nav_text {
  color: white;
  font-size: 60px;
  font-weight: 700;
  position: relative;
  letter-spacing: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Rhino Sans", sans-seri;
  text-shadow: 1px 1px 1px #e87400, 2px 2px 2px #e87400, 3px 3px 3px #e87400,
    5px 5px 5px #ff0090, 7px 7px 7px #660066;
}
.glitch_nav_text:hover {
  text-decoration: none;
  text-shadow: 1px 1px 1px #e87400, 2px 2px 2px #e87400, 3px 3px 3px #e87400,
    5px 5px 5px #ff0090, 7px 7px 7px #660066;
}

.glitch_nav_text:before,
.glitch_nav_text:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  display: block;
  position: absolute;
  text-transform: uppercase;
  content: attr(data-glitch);
}

.glitch_nav_text:after {
  color: #f0f;
  z-index: -2;
}
.glitch_nav_text:before {
  color: #0ff;
  z-index: -1;
}

.glitch_nav_text:hover:before {
  animation: glitch 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}

.glitch_nav_text:hover:after {
  animation: glitch 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse infinite;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  to {
    transform: translate(0);
  }
}

/* =========== */
/* Glitch Card */
/* =========== */
#cards_grid,
#big_cards_grid,
.popular_movies_text {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  flex-direction: row;
  align-items: flex-start;
}

#cards_grid {
  padding: 60px;
}

.glitch_card_width {
  width: 200px;
}

.glitch_card_height {
  height: 300px;
}

.glitch_card_content {
  margin: 20px;
}

.glitch_card_content .card_title {
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .glitch_card_width {
    width: 100%;
  }

  .glitch_card_content {
    margin: 20px 0;
  }

  .glitch_card_height {
    height: 400px;
  }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
  .glitch_card_width {
    width: calc(50% - 40px);
  }

  .glitch_card_height {
    height: 350px;
  }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  .glitch_card_width {
    width: calc(33.33% - 40px);
  }
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
  .glitch_card_width {
    width: calc(25% - 40px);
  }
  .glitch_card_height {
    height: 250px;
  }
}

@media screen and (min-width: 1201px) {
  .glitch_card_width {
    width: calc(20% - 40px);
  }
}

.glitch_img_cover,
.glitch_img {
  display: block;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 100%);
}

.glitch_img_cover {
  position: relative;
  border-radius: 6px;
  border: 3px solid black;
  transition-property: clip-path, transform;
}

.glitch_img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  position: absolute;
  pointer-events: none;
  background-blend-mode: none;
  background-color: transparent;
  transform: translate3d(0, 0, 0);
}

.glitch_img_cover:hover,
.glitch_img_cover:hover .glitch_img {
  transform: scale(1.08);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%);
}

.glitch_img_cover:hover .glitch_img:nth-child(n) {
  opacity: 0;
  animation-delay: 0;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.glitch_img_cover:hover .glitch_img:nth-child(2) {
  animation-name: glitch-anim-1;
}
.glitch_img_cover:hover .glitch_img:nth-child(3) {
  animation-name: glitch-anim-2;
}
.glitch_img_cover:hover .glitch_img:nth-child(4) {
  animation-name: glitch-anim-3;
}

@keyframes glitch-anim-1 {
  0%,
  100% {
    opacity: 1;
    transform: translate3d(40px, 0, 0) scale3d(-1, -1, 1);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }
  20% {
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }
  30% {
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
  }
  40% {
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
  }
  50% {
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  55% {
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  60% {
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  65% {
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  70% {
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  80% {
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  85% {
    clip-path: polygon(0 60%, 100% 60%, 100% 65%, 0 65%);
  }
  95% {
    clip-path: polygon(0 72%, 100% 72%, 100% 78%, 0 78%);
  }
}

@keyframes glitch-anim-2 {
  0%,
  100% {
    opacity: 1;
    transform: translate3d(-10px, 0, 0);
    clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
  }
  10% {
    clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
  }
  15% {
    clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
  }
  17% {
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }
  19% {
    clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
  }
  33% {
    clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
  }
  35% {
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }
  40% {
    clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
  }
  45% {
    clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
  }
  49% {
    clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
  }
  50% {
    clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
  }
  55% {
    clip-path: polygon(0 15%, 100% 15%, 100% 35%, 0 35%);
  }
  60% {
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }
  70% {
    clip-path: polygon(0 65%, 100% 65%, 100% 60%, 0 60%);
  }
  80% {
    clip-path: polygon(0 80%, 100% 80%, 100% 85%, 0 85%);
  }
  90% {
    clip-path: polygon(0 55%, 100% 55%, 100% 65%, 0 65%);
  }
}

@keyframes glitch-anim-3 {
  0%,
  100% {
    opacity: 1;
    transform: translate3d(0, -5px, 0) scale3d(-1, -1, 1);
    clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
  }
  5% {
    clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
  }
  11% {
    clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
  }
  20% {
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }
  25% {
    clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
  }
  35% {
    clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
  }
  42% {
    clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
  }
  48% {
    clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
  }
  50% {
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }
  56% {
    clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
  }
  61% {
    clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
  }
  68% {
    clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
  }
  72% {
    clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
  }
  77% {
    clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
  }
  81% {
    clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
  }
  86% {
    clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
  }
  90% {
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }
  92% {
    clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
  }
  94% {
    clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
  }
}

/*==========================================
  INCIO: Catálogo películas canva
===========================================*/
.canva_container {
  width: 100%;
  height: 400px;
  position: relative;
  background-color: var(--darkPurple);
}

.canva_text {
  z-index: 20;
  font-size: 60px;
  color: #fed128;
  position: absolute;
  letter-spacing: 30px;
  text-transform: uppercase;
  font-family: "Neon Title", sans-serif;
  text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16,
    0 0 10vw #fa1c16, 0 0 0.4vw #fed128, 0.5vw 0.5vw 0.1vw #806914;
}

@media screen and (max-width: 800px) {
  .canva_text {
    font-size: 45px;
    letter-spacing: 15px;
  }
}

.cielo {
  width: 100%;
  height: 160px;
  position: absolute;
  background: linear-gradient(#111, #3f00ff, #ff00dc);
}

.sol {
  top: 30%;
  width: 240px;
  height: 240px;
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 118px);
  box-shadow: 2px 2px 36px #ff00dc;
  background: linear-gradient(#ff0090, #ffaa00, #ff0090);
}

.suelo {
  z-index: 2;
  top: 160px;
  width: 100%;
  height: 240px;
  position: absolute;
  background: linear-gradient(#001121, #002b51);
}

.carro-chasis {
  width: 180px;
  bottom: 20px;
  height: 120px;
  position: absolute;
  left: calc(50% - 90px);
}

.carro-luces {
  top: 30px;
  z-index: 5;
  width: 180px;
  height: 28px;
  border-radius: 4px;
  position: absolute;
  border: 1px solid #0074b2;
  background-color: #00173d;
}

.luces-traseras {
  top: 4px;
  left: 4px;
  width: 172px;
  height: 2px;
  position: absolute;
  animation-duration: 1.5s;
  background-color: #dd002c;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: rear-lights-flashing;
}

.luces-traseras:nth-of-type(2) {
  top: 8px;
}

.luces-traseras:nth-of-type(3) {
  top: 12px;
}

.luces-traseras:nth-of-type(4) {
  top: 16px;
}

.luces-traseras:nth-of-type(5) {
  top: 20px;
}

.cajuela {
  top: 24px;
  z-index: 3;
  height: 6px;
  width: 180px;
  position: absolute;
  background-color: #00173d;
  clip-path: polygon(8% 0, 92% 0, 99% 100%, 1% 100%);
  border: 1px solid #0074b2;
}

.techo {
  position: absolute;
  top: 5px;
  width: 180px;
  height: 14px;
  background-color: #00173d;
  border: 2px solid #00417a;
  clip-path: polygon(32% 0, 68% 0, 90% 100%, 8% 100%);
  background: linear-gradient(#e87400, #ff0090, #0074b2);
  z-index: 3;
}

.llanta-izquierda {
  position: absolute;
  height: 26px;
  width: 24px;
  border-radius: 3px;
  border: 0.5px solid #333;
  background-color: #111;
  top: 52px;
  left: 10px;
  z-index: 1;
}

.llanta-derecha {
  position: absolute;
  height: 26px;
  width: 24px;
  border-radius: 3px;
  border: 0.5px solid #333;
  background-color: #111;
  top: 52px;
  left: 146px;
  z-index: 1;
}
.carro-sombra {
  top: 64px;
  left: -23px;
  height: 80px;
  width: 230px;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  clip-path: polygon(14% 0, 86% 0, 100% 100%, 0 100%);
}

.carretera-horizontal {
  top: 2px;
  width: 100%;
  height: 2px;
  z-index: -1;
  position: absolute;
  background-color: #0070c6;
}
.carretera-horizontal:nth-of-type(2) {
  top: 8px;
  animation-name: move-line-2;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.carretera-horizontal:nth-of-type(3) {
  top: 18px;
  animation-name: move-line-3;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.carretera-horizontal:nth-of-type(4) {
  top: 34px;
  animation-name: move-line-4;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.carretera-horizontal:nth-of-type(5) {
  top: 60px;
  animation-name: move-line-5;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.carretera-horizontal:nth-of-type(6) {
  top: 100px;
  animation-name: move-line-6;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.carretera-horizontal:nth-of-type(7) {
  top: 150px;
  animation-name: move-line-7;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.carretera-horizontal:nth-of-type(8) {
  top: 208px;
  animation-name: move-line-8;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.baldio-izquierdo {
  width: 50%;
  z-index: 4;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  clip-path: polygon(0 0, 101% 0, 0 100%, 0 100%);
}

.baldio-derecho {
  right: 0;
  z-index: 4;
  width: 50%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
}

@keyframes move-line-2 {
  0% {
    top: 8px;
  }
  100% {
    top: 17px;
  }
}

@keyframes move-line-3 {
  0% {
    top: 18px;
  }
  100% {
    top: 33px;
  }
}

@keyframes move-line-4 {
  0% {
    top: 34px;
  }
  100% {
    top: 59px;
  }
}

@keyframes move-line-5 {
  0% {
    top: 60px;
  }
  100% {
    top: 99px;
  }
}

@keyframes move-line-6 {
  0% {
    top: 100px;
  }
  100% {
    top: 149px;
  }
}

@keyframes move-line-7 {
  0% {
    top: 150px;
  }
  100% {
    top: 207px;
  }
}

@keyframes move-line-8 {
  0% {
    top: 208px;
  }
  100% {
    top: 240px;
  }
}

@keyframes rear-lights-flashing {
  0% {
    background-color: #b20023;
  }
  40% {
    background-color: #b20023;
  }
  45% {
    background-color: #ff0032;
  }
  50% {
    background-color: #b20023;
  }
  70% {
    background-color: #b20023;
  }
  75% {
    background-color: #ff0032;
  }
  80% {
    background-color: #b20023;
  }
  85% {
    background-color: #ff0032;
  }
  90% {
    background-color: #b20023;
  }
  100% {
    background-color: #b20023;
  }
}

/* SEPARATOR */
.separador {
  padding: 30px 60px;
  text-align: left;
  position: relative;
  background-color: var(--darkPurple);
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.8);
}

.separador:before {
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  content: "";
  display: block;
  position: absolute;
  box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
  background-image: linear-gradient(90deg, #0066ff 0%, #9933ff 100%);
}

/* PAGINATION */
.pagination {
  margin: 60px 0;
  border-radius: 6px;
  display: inline-block;
  background-color: var(--darkPurple);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
}

.pagination a {
  float: left;
  padding: 12px 20px;
  border-radius: 6px;
  text-decoration: none;
}

.pagination a.active {
  text-shadow: none;
  background-color: #e87400;
}

.pagination a:hover:not(.active) {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

.pagination > .big_prev,
.pagination > .big_next {
  height: 62px;
}

.pagination > .listacapitulos {
  float: left;
  width: 240px;
  padding: 12px;
  color: white;
  font-weight: bold;
  flex-direction: column;
  background-color: rgba(232, 116, 0, 0.9);
}

.listacapitulos select {
  border: none;
  width: 100px;
  height: 30px;
  padding: 5px;
  outline: none;
  color: white;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.1);
}

.listacapitulos select option {
  color: black;
}

.footer_copyright {
  width: calc(100% -4%);
  text-align: end;
  padding: 4% 4% 4% 0;
}

/* CIRCULAR LOADER */
.circular_loader {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular_loader > div {
  width: 40px;
  height: 40px;
  border: 8px solid var(--darkPurple);
  border-left-color: var(--blue);
  border-radius: 50%;
  background: transparent;
  animation-name: rotate-loader;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear;
  position: relative;
}

@keyframes rotate-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
